body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #1A1A1D; */
    background-image: url('pr_bg.png');
}
/* Add this to your home_style.css file or in a <style> element in your HTML document */
/* body::before {
    content: "";
    background-image: url(home_pr.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
} */

/* Rest of your existing CSS styles */

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 30px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 10px;
    border-bottom: 3px solid #C3073F;
}

.navbar i{
    margin: 10px;
    padding: 10px;
    /* color: #652232 ; */
    color: #4E4E50;
}

.navbar a {
    text-decoration: none;
    /* color: #950740; */
    color: white;
    transition: color 2s ease;
    position: relative;
}

.navbar a span {
    display: none;
    font-size: 1.2rem;
    font-weight: bold;
     opacity: 0;
    transform: translateY(10px);
    /* transition: opacity 1.2s ease, transform 1.2s ease; */
    padding-bottom: 3px; 
}


.navbar li:hover #nav-head {
    color: transparent; 
}

.navbar li:hover a span {
    display: inline-block;
    opacity: 1;
    font-size: 1.2rem;
    transform: translateY(-10px);

}

.heading{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #950740;
    font-size: 2.8rem;
    font-family: 'Pixelify Sans', cursive;
    font-weight: bold;
}
.line-divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent 40%, #4E4E50 40%, #4E4E50 60%, transparent 60%);
}

.content {
    padding: 20px;
    margin: 20px;
}

h1{
    font-size: 1.7rem;
    color: #C3073F;
    text-align: center;
}

.content p{
   color: white;
   font-size: 1.2rem;
   font-family: 'Mukta', sans-serif;
   text-align: justify;
}

.footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4E50;
    color: white;
    font-size: 1rem;
}

